{{ if .Site.Params.bio.enable }}
    {{"<!-- Bio Section -->" | safeHTML}}
    <section id="{{ i18n "bio" | urlize }}" class="section bio bg-gray">
        <div class="container">
            <div class="row">

                <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    <div class="content">

                        <div class="sub-heading">
                            {{ with .Site.Params.bio.heading }}
                                <h3>{{ . }}</h3>
                            {{ end }}
                        </div>

                        <div class="bio-text">
                            {{ with .Site.Params.bio.content }}
                                <h5>{{ . | markdownify }}</h5\>
                            {{ end }}
                        </div>

                    </div>
                </div>

                <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="bio-slider">
                        {{ range .Site.Params.bio.sliderItem }}
                            {{ if .image }}
                                <img src="{{ .image }}" alt="{{ i18n "sliderImage" }}">
                            {{ end }}
                        {{ end }}
                    </div>
                </div>

            </div>
        </div>
    </section>
{{ end }}