{{ if .Site.Params.hero.enable }}
    {{"<!-- Hero Area Section -->" | safeHTML}}
    <section id="{{ i18n `home` | urlize }}" class="hero-area" style='background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");'>
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <div class="block">

                        {{ with .Site.Params.hero.image }}
                            <img src="{{ . }}" alt="{{ i18n "sliderImage" }}">
                        {{ end }}
                        {{ with .Site.Params.hero.subtitle }}
                        <p class="wow fadeInDown" data-wow-delay="0.5s" data-wow-duration=".5s">
                            {{ . }}
                        </p>
                        {{ end }}
                    </div>
                </div>

            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
{{ end }}