{{ if .Site.Params.music.enable }}
    {{"<!-- music Section -->" | safeHTML}}
    <section id="{{ i18n "music" | urlize }}" class="music section">
        <div class="container">
            <div class="row">
                <div class="heading wow fadeInUp">
                    {{ with .Site.Params.music.title }}
                        <h2>{{ . }} </h2>
                    {{ end }}
                    {{ with .Site.Params.music.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
                {{ range .Site.Params.music.songItem }}
                
                    <div class="col-sm-6 col-md-6 wow fadeInLeft" data-wow-delay="{{ .delay }}">
                        <div class="block">
                            <i class="{{ .icon }}"></i>
                            <h3>{{ .title }}</h3>
                            <p>{{ .description | markdownify }}</p>

                            {{ if .soundcloud_url }}

                                {{ if .single }}
                                <iframe width="100%" scrolling="no" frameborder="no" 
                                    allow="autoplay" 
                                    src="https://w.soundcloud.com/player/?url={{ .soundcloud_url }}">
                                </iframe>
                                {{ else }}
                                <iframe width="100%" height="450" scrolling="no" frameborder="no" 
                                    allow="autoplay" 
                                    src="https://w.soundcloud.com/player/?url={{ .soundcloud_url }}">
                                </iframe>
                                {{ end }}

                            {{ end }}

                            {{ if .spotify_url }}

                                <!-- <iframe style="border-radius:12px" 
                                        src="{{ .spotify_url }}" 
                                        width="300" 
                                        height="380" 
                                        frameborder="0" 
                                        allowfullscreen="" 
                                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
                                </iframe> -->
            
                            {{ end }}


                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}