<div class="container">
    <nav class="navbar navbar-fixed-top  navigation " id="top-nav">
        <a class="navbar-brand float-none float-lg-left" href="{{ .Site.BaseURL }}">
            {{ with .Site.Params.navigation.logo }}
            <img src="{{ . }}" alt="logo">
            {{ end }}
        </a>



        <button class="navbar-toggler hidden-lg-up float-lg-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <i class="tf-ion-android-menu"></i>
        </button>


        <div class="collapse navbar-toggleable-md" id="navbarResponsive">

            <ul class="nav navbar-nav menu float-lg-right" id="top-nav">

        <div class="links-block">
          {{ with .Site.Params.links.title }}
          <h2>{{ . }}</h2>
          {{ end }} {{ with .Site.Params.links.subtitle }}
          <p>{{ . }} </p>
          {{ end }}

          <div class="social-icons">
            {{ range .Site.Params.links.social }}
            <a
              href="{{ .url }}"
              target="_blank"
              rel="noopener noreferrer"
              title="{{ .name }}"
              class="social-link"
            >
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
            {{ end }}
          </div>
        </div>


                <li class="nav-item active">
                    <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "home" | urlize }}">
                        {{ with .Site.Params.navigation.home }} {{ . }} {{ end }}
                    </a>
                </li>







                {{ if .Site.Params.bio.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "bio" | urlize }}">
                            {{ with .Site.Params.navigation.bio }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}

                {{ if .Site.Params.music.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "music" | urlize }}">
                            {{ with .Site.Params.navigation.music }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                              
                {{ if .Site.Params.gigs.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "gigs" | urlize }}">
                            {{ with .Site.Params.navigation.gigs }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}


                {{ if .Site.Params.video.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "video" | urlize }}">
                            {{ with .Site.Params.navigation.video }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}

                {{ if .Site.Params.cover.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "cover" | urlize }}">
                            {{ with .Site.Params.navigation.cover }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}

                {{ if .Site.Params.contact.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "contact" | urlize }}">
                            {{ with .Site.Params.navigation.contact }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</div>