{{ partial "header.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "preloader.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "navigation.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "hero-area.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "links.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "music.html" . }}
<!-- - - - - - - - - - - - -->
 {{ partial "links.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "gigs.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "links.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "video.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "links.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "cover.html" . }}
<!-- - - - - - - - - - - - -->
 {{ partial "bio.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "contact.html" . }}
<!-- - - - - - - - - - - - -->
{{ partial "footer.html" . }}
